.bannerSlider {
  position: relative;
  max-height: 250px;
  max-width: 1500px;
  margin: 0 auto;

  * {
    z-index: 0;
  }
}

.slider {
  mask-image: linear-gradient(black, transparent);
}

.slick-arrow {
  height: 100%;
  max-height: 250px;
  width: 80px;

  border: 2px solid transparent;
  border-radius: 4px;

  top: 0;

  &:active {
    border-color: #008296;
  }
}

.slick-prev {
  z-index: 1;
  left: 0;
  transform: translateY(0);

  &::before {
    display: none;
  }
}

.slick-next {
  right: 0;
  transform: translateY(0);

  &::before {
    display: none;
  }
}

.bannerSlider__customArrow {
  height: 100%;
  position: absolute;
  top: -4px;
  pointer-events: none;
  font-size: 3rem;
  color: #333;

  &:first-child {
    left: 40px;
    z-index: 1;
    transform: translateX(-52%);
  }

  &:last-child {
    right: 40px;
    transform: translateX(52%);
  }
}
