.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  .header__top {
    padding: 0 12px;
  }

  .header__bottom {
    padding: 0 12px;
  }
}

.header__mobileMenuBtn {
  display: none;
}

.header__link {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 2px;

  &:hover {
    border-color: white;
    cursor: pointer;
  }
}

.header__top {
  height: 60px;
  background-color: #131921;

  .header__link {
    height: 50px;
    padding: 0 8px;

    small {
      opacity: 0.8;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin-bottom: 2px;
    }

    strong {
      margin-bottom: 2px;
    }
  }

  .header__topLeft {
    .header__link:last-child {
      > svg {
        margin-right: 4px;
        margin-top: 8px;
      }
    }

    .header__img {
      width: 114px;
      margin-right: 3px;

      background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: top -39px left;
    }
  }

  .header__topMiddle {
    height: 40px;
    margin-left: 10px;
    margin-right: 7px;
    flex: 1;
    border: 2px solid transparent;
    border-radius: 7px;

    &:focus-within {
      border-color: #ff9900;
    }

    .header__topSelector {
      height: 100%;
      padding: 0 8px;

      color: #777;
      font-size: 1.4rem;
      background-color: white;
      opacity: 0.95;

      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: 1px solid lightgray;

      > svg {
        margin-left: 12px;
        margin-bottom: 6px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    > .header__topInput {
      flex: 1;
      position: relative;
      height: 100%;

      .header__overlayer {
        position: fixed;
        top: 99px;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);

        display: none;
        height: calc(100vh - 99px);
        width: 100vw;
      }

      > input {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 12px;

        font-size: 1.4rem;

        outline: none;
        border: none;
      }

      > input:focus ~ .header__overlayer {
        display: block;
      }

      

      .header__search {
        position: absolute;
        left: 0;

        display: none;
        flex-direction: column;
        justify-content: space-between;

        width: calc(100% + 42px);
        background-color: white;

        border: 1px solid lightgray;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 2px rgba($color: #000000, $alpha: 0.2);
      }

      .focus {
        display: flex;
      }
    }

    > button {
      justify-content: center;

      width: 45px;
      height: 100%;
      background-color: #febd69;

      color: #333;
      font-size: 1.6rem;

      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
        filter: brightness(105%);
      }

      &:active {
        filter: brightness(95%);
      }
    }
  }

  .header__topRight {
    .header__link {
      margin-left: 3px;

      > img {
        object-fit: contain;
        height: 25%;
        margin-top: 12px;
      }

      > svg {
        margin-top: 10px;
        margin-left: 2px;
        opacity: 0.8;
      }
    }

    .header__link:last-child {
      position: relative;

      > svg {
        font-size: 3rem;
        color: white;
        margin: 0;
        margin-right: 2px;
        opacity: 1;
      }

      > strong {
        margin-top: 14px;
      }

      > span {
        position: absolute;
        left: 28px;
        top: 2px;

        justify-content: center;

        width: 22px;
        height: 22px;
        padding: 0 3px 3px;

        border-radius: 50%;
        background-color: #f08804;

        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
}

.header__bottom {
  background-color: #232f3e;
  height: 39px;

  .header__link {
    height: 28px;
    padding: 0 8px;
    font-weight: 600;
    padding-top: 2px;
  }

  .header__link:first-child {
    margin-left: 0;

    > svg {
      margin-right: 4px;
      margin-top: -2px;
      font-size: 1.8rem;
    }
  }
}

.header__mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 102vh;
  width: 100vw;
  z-index: 9999;
  pointer-events: none;
  display: none;
}

.header__mobile--active {
  pointer-events: inherit;
}

.header__mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 300px;
  transform: translateX(-100%);

  z-index: 9999;
  background-color: #131921;

  .header__mobileMenuLink {
    margin-left: 3px;
    height: 42px;
    min-width: 80px;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 10px;

    > img {
      object-fit: contain;
      height: 25%;
      width: 30px;
      margin-top: 12px;
    }

    > svg {
      margin-top: 2px;
      margin-left: 2px;
      margin-right: 4px;
      opacity: 0.8;
    }
  }

  .header__mobileMenuContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 12px;

    border-bottom: 1px solid lightgray;

    &:last-child {
      svg {
        margin-right: 4px;
      }
    }
  }
}

.header__mobileMenuCloseBtn {
  color: white;
  margin-left: auto;
  height: 40px;
  min-width: 80px;
  margin-top: 12px;

  &:hover {
    cursor: pointer;
  }
}

.header__mobileMenu--active {
  transform: translateX(0%);
  transition: transform 0.3s ease;
}

.header__mobileOverlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100vw;
  opacity: 0;
  z-index: 9999;

  background-color: black;
}

.header__mobileOverlayer--active {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

@media (max-width: 940px) {
  .header__top {
    justify-content: space-between;
  }

  .header__topLeft {
    .header__link {
      display: none;
    }

    .header__mobileMenuBtn {
      display: block;
      background-color: transparent;
      width: 50px;
      font-size: 3rem;
    }
  }

  .header__topMiddle {
    max-width: 600px;
  }

  .header__topRight {
    .header__link {
      display: none;
    }

    .header__link:last-child {
      display: flex;
    }
  }

  .header__bottom {
    display: none;
  }

  .header__mobile {
    display: block;
  }
}

@media (max-width: 740px) {
  .header__top {
    .header__topLeft {
      flex: 1;

      .header__img {
        display: flex;
        margin-left: 12px;
      }
    }
  }

  .header__topMiddle {
    display: none;
  }
}
