.header__recommended {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;

  height: 36px;
  padding: 0 12px;
  padding-bottom: 1px;

  display: flex;
  align-items: center;

  &:hover {
    background-color: lightgray;
  }

  span:last-child {
    font-weight: 700;
    line-height:36px;

    flex: 1;
    height: 100%;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
