.productPage__wrapper {
  padding: 24px;
  background-color: #f0f0f0;
}

.productPage {
  color: #333;
  padding: 24px;
  background-color: white;
  border-radius: 4px;

  display: flex;

  > img {
    width: 685px;
    min-width: 250px;
    max-width: 685;
    min-height: 500px;
    max-height: 685px;

    object-fit: contain;

    margin-right: 24px;
  }
}

.productPage__info {
  * {
    margin-bottom: 12px;
  }

  > h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  > span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  > p {
    font-size: 1.3rem;
  }

  > div {
    > span {
      font-size: 2.4rem;
      font-weight: bold;
      margin-top: 24px;
    }
  }
}

.productPage__rating {
  color: #febd69;
  font-size: 2rem;
}

.productPage__btns {
  margin-top: auto;

  > button {
    height: 40px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 12px;
    background-color: #febd69;

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ccc;

    font-size: 1.6rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      filter: brightness(105%);
    }

    &:active {
      filter: brightness(95%);
    box-shadow: 0 4px 16px #ccc;
  }
  }

  > button:last-child {
    margin-bottom: 24px;
  }
}
